.header {
  width: 100%;
  text-align: center;
}
.header ul {
  list-style: none;
}
.header li {
  display: inline-block;
  margin: 1rem;
}
.header a {
  text-decoration: none;
  color: black;
}
.header a:hover,
.header a:active,
.header a.active {
  color: lightcoral;
}
